In [2]:
import geojson
import pandas as pd
import geopandas as gpd

In [3]:
gpd.read_file('HAQ_TEMPO_NO2_CONUS_QA75_L3_Monthly_012024_12Z_V3.geojson')

,OBJECTID,FIPS,FIPS_new,field_avg,geometry
0,5,08035014300,8035,None,"POLYGON ((-105.32923 39.1297, -105.32946 39.12..."
1,6,08035014107,8035,None,"POLYGON ((-104.98894 39.5574, -104.98891 39.55..."
2,7,08035013904,8035,None,"POLYGON ((-104.78338 39.52756, -104.78339 39.5..."
3,8,08035014503,8035,None,"POLYGON ((-104.86821 39.41264, -104.86813 39.4..."
4,11,08035014108,8035,None,"POLYGON ((-104.99159 39.55006, -104.99174 39.5..."
...,...,...,...,...,...
863,1435,08001008526,8001,None,"POLYGON ((-104.98812 39.95758, -104.9881 39.95..."
864,1436,08001060100,8001,None,"POLYGON ((-105.01685 39.95312, -105.01687 39.9..."
865,1437,08001060200,8001,None,"POLYGON ((-105.03442 39.92048, -105.03442 39.9..."
866,1444,08001008538,8001,None,"POLYGON ((-104.81852 39.89877, -104.81847 39.8..."
867,1445,08001015000,8001,None,"POLYGON ((-104.98885 39.79109, -104.98886 39.7..."

In [10]:
census_gdf = gpd.read_file('~/projects/tempo-site/data/preprocess/Colorado_Census_Tract_Boundaries.geojson')
census_gdf

      OBJECTID         FIPS                                           geometry
0            1  08041002300  POLYGON ((-104.83616 38.823, -104.83614 38.822...
1            2  08041006600  POLYGON ((-104.88196 38.8566, -104.882 38.8564...
2            3  08041006100  POLYGON ((-104.75753 38.83877, -104.75753 38.8...
3            4  08041006200  POLYGON ((-104.74872 38.82611, -104.74872 38.8...
4            5  08035014300  POLYGON ((-105.32923 39.1297, -105.32946 39.12...
...        ...          ...                                                ...
1442      1443  08111972600  POLYGON ((-107.97507 37.68365, -107.97465 37.6...
1443      1444  08001008538  POLYGON ((-104.81852 39.89877, -104.81847 39.8...
1444      1445  08001015000  POLYGON ((-104.98885 39.79109, -104.98886 39.7...
1445      1446  08097000500  POLYGON ((-106.98097 39.33399, -106.98093 39.3...
1446      1447  08097000402  POLYGON ((-106.93714 39.03201, -106.93717 39.0...

[1447 rows x 3 columns]

In [15]:
df = pd.read_csv('~/projects/tempo-site/data/preprocess/state_and_county_fips_master.csv')
df

       fips               name state
0         0      UNITED STATES   NaN
1      1000            ALABAMA   NaN
2      1001     Autauga County    AL
3      1003     Baldwin County    AL
4      1005     Barbour County    AL
...     ...                ...   ...
3190  56037  Sweetwater County    WY
3191  56039       Teton County    WY
3192  56041       Uinta County    WY
3193  56043    Washakie County    WY
3194  56045      Weston County    WY

[3195 rows x 3 columns]

In [18]:
co_df = df[df['state']=='CO'] # Filter to only Colorado
# Create new column with County FIPS from tract fips
census_gdf['FIPS_new'] = census_gdf['FIPS'].str[:5].str.lstrip('0').astype(int)
census_gdf

,OBJECTID,FIPS,geometry,FIPS_new
0,1,08041002300,"POLYGON ((-104.83616 38.823, -104.83614 38.822...",8041
1,2,08041006600,"POLYGON ((-104.88196 38.8566, -104.882 38.8564...",8041
2,3,08041006100,"POLYGON ((-104.75753 38.83877, -104.75753 38.8...",8041
3,4,08041006200,"POLYGON ((-104.74872 38.82611, -104.74872 38.8...",8041
4,5,08035014300,"POLYGON ((-105.32923 39.1297, -105.32946 39.12...",8035
...,...,...,...,...
1442,1443,08111972600,"POLYGON ((-107.97507 37.68365, -107.97465 37.6...",8111
1443,1444,08001008538,"POLYGON ((-104.81852 39.89877, -104.81847 39.8...",8001
1444,1445,08001015000,"POLYGON ((-104.98885 39.79109, -104.98886 39.7...",8001
1445,1446,08097000500,"POLYGON ((-106.98097 39.33399, -106.98093 39.3...",8097
1446,1447,08097000402,"POLYGON ((-106.93714 39.03201, -106.93717 39.0...",8097